img {
    max-height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 3%;
}

nav {
    text-align: center;
}

.picture-panel {
    margin: 30px 5px auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 1%;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.internal-nav-link {
    display: inline-block;
    margin: 5px 5px 0px;
    font-size: 16px;
}

.internal-nav-link:hover {
    text-decoration: none;
}

@media screen and (min-width: 550px) {
    .picture-panel {
        width: 350px;
    }

    .internal-nav-link {
        font-size: 18px;
        margin: 10px 5px 0px;
    }
} 

@media screen and (min-width: 1200px) {
    .picture-panel {
        margin-right: 150px;
    }
} 