h2, h3 {
    text-align: center;
}

p {
    text-indent: 10px;
}

.info-panel {
    margin: 30px 5px;
    width: 300px;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 1%;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 550px) {
    .info-panel {
        width: 350px;
        min-height: 500px;
    }
} 

@media screen and (min-width: 1000px) {
    .info-panel {
        width: 500px;
    }
} 