.info-panel {
    margin: 30px 0;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.info {
    padding: 10px;
}

@media screen and (min-width: 550px) {
    .info-panel {
        width: 350px;
        height: 500px;
    }
} 