.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        justify-content: center;
    }
} 