nav {
    background-image: linear-gradient(LightGray, white);
    font-family: 'Graduate', cursive;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    margin: 1%;
}

.nav-link {
    float: right;
} 

a {
    color: black;
    margin: 1%;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

@media screen and (min-width: 550px) {
    h1 {
        font-size: 22px;
    }
}